/* section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
/* Transform */

/* #one{
        transform: rotate(45deg);
}

#two{
    transform: scale(0.5) ;
}

#three{
  transform: translate(100px , 100px);
}

#four{
    transform: skew(30deg);
} */

/* #five{
   transform: rotate(30deg) scale(1.5) translate(100px , 100px) skew(30deg);
} */ 
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
   
    margin: 10px auto;
    box-shadow: 2px 2px 8px black;
}