div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-color: black;
    border-style: solid; */
    border: 5px solid black;
    /* border-left-color:blue ;
    border-left-style: dashed; */
    /* border-top: 5px dashed blue; */
    border-radius:10px;
    /* border-top-right-radius: 400px; */
    padding-top: 50px;
    /* margin-bottom: 25px; */
    margin: 20px;
}
h1{
    border-width: 2px;
    border-color: green;
    border-style: dashed;
    margin: 0px;
}
button{
    border: 2px solid black;
    /* border-radius: 10px; */
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 5px;
    background-color: yellow;
}